## Bank marketing problem: envelope color and bonus amount alloacation

In [1]:
# we have 4 following levels 
#level1: envelope color=Green and bonus amount=100$
#level2: envelope color=Green and bonus amount=200$
#level3: envelope color=Orange and bonus amount=100$
#level4: envelope color=Orange and bonus amount=200$

# After DOE we allocate 25% of 1 Mil envelopes to each level and recieve 
# the acceptance response from customers so we can investigate the correlation of each 
# variable with the output 
# I use One hot encoding to represent categorical variables as
# numerical values in this problem.

In [2]:
# Here we generate a sample result a table consiste of customur ID, envelope color, bonus amount 
# and customer_response (no for not accepting the offer and yes for accepting the offer) 

#Input variables:

# 0 - customur_ID (numeric)
# 1 - envelope_color : type of job (categorical: 'Green','Orange')
# 2 - bonus_amount (categorical: '100$','200$')

# Output variable (desired target):
# 3 - customer_response - has the client accepted the offer? (binary: 'yes','no')

## Data Generation

In [3]:
import pandas as pd
import random

#data=[['Green','100$',],['bonus_amount',22],['Sahil',21],['Aryan',24]]
data=[['Green','100$','yes']]
df=pd.DataFrame(data,columns=['envelope_color','bonus_amount', 'customer_response'])

i=1
d = []
level_size=5

# 1 million test results
# the acceptance rate is 20% by default, so only rand numbers less than 0.2 results in a positive respons from customer
#I intentionally biased the results to the level of Orange and 100$, and a rand number less than 0.5 results in a 'yes'

while i<=4*level_size:
    i=i+1
    if i<=level_size:
        randNumber = random.random()
        if randNumber < 0.2:
            cr='yes'
        else:
            cr='no'
        d.append(
            {
                'envelope_color': 'Green',
                'bonus_amount': '100$',
                'customer_response':  cr
            }
        )
    elif i>level_size and i<=2*level_size:
        randNumber = random.random()
        if randNumber < 0.2:
            cr='yes'
        else:
            cr='no'
        d.append(
            {
                'envelope_color': 'Green',
                'bonus_amount': '200$',
                'customer_response':  cr
            }
        )
    elif i>2*level_size and i<=3*level_size:
        randNumber = random.random()
        if randNumber < 0.5:
            cr='yes'
        else:
            cr='no'
        d.append(
            {
                'envelope_color': 'Orange',
                'bonus_amount': '100$',
                'customer_response':  cr
            }
        )
            
    else:
        randNumber = random.random()
        if randNumber < 0.2:
            cr='yes'
        else:
            cr='no'
        d.append(
            {
                'envelope_color': 'Orange',
                'bonus_amount': '200$',
                'customer_response':  cr
            }
        )
            

df=pd.DataFrame(d)
df

   envelope_color bonus_amount customer_response
0           Green         100$                no
1           Green         100$               yes
2           Green         100$               yes
3           Green         100$                no
4           Green         200$                no
5           Green         200$                no
6           Green         200$               yes
7           Green         200$                no
8           Green         200$                no
9          Orange         100$               yes
10         Orange         100$               yes
11         Orange         100$                no
12         Orange         100$                no
13         Orange         100$               yes
14         Orange         200$                no
15         Orange         200$               yes
16         Orange         200$                no
17         Orange         200$               yes
18         Orange         200$                no
19         Orange         200$                no

 ## One Hot Encoding

In [4]:
# here we convert the categorical data into binary, we also have two levels for each variable
binary_df=pd.get_dummies(df, columns=['envelope_color','bonus_amount', 'customer_response'])

In [5]:
binary_df

,envelope_color_Green,envelope_color_Orange,bonus_amount_100$,bonus_amount_200$,customer_response_no,customer_response_yes
0,1,0,1,0,1,0
1,1,0,1,0,0,1
2,1,0,1,0,0,1
3,1,0,1,0,1,0
4,1,0,0,1,1,0
5,1,0,0,1,1,0
6,1,0,0,1,0,1
7,1,0,0,1,1,0
8,1,0,0,1,1,0
9,0,1,1,0,0,1
10,0,1,1,0,0,1
11,0,1,1,0,1,0
12,0,1,1,0,1,0
13,0,1,1,0,0,1
14,0,1,0,1,1,0
15,0,1,0,1,0,1
16,0,1,0,1,1,0
17,0,1,0,1,0,1
18,0,1,0,1,1,0
19,0,1,0,1,1,0

In [ ]:
# data cleaning, scaling, normalization is not required for this problem, so I move on to the ML prediction step
# other than One hot encoding, I'll try Lable encoding from sklearn here as well

## Lable encoder

In [9]:
#encoding the levels of a categorical features into numeric values (here binary)
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

le = preprocessing.LabelEncoder()
df.envelope_color = le.fit_transform(df.envelope_color)
df.bonus_amount = le.fit_transform(df.bonus_amount)
df.customer_response = le.fit_transform(df.customer_response)

df.head()

   envelope_color  bonus_amount  customer_response
0               0             0                  0
1               0             0                  1
2               0             0                  1
3               0             0                  0
4               0             1                  0

## Train and Test split

In [16]:
X = df.iloc[:,0:2]
X[0:10]
y = df.iloc[:,2]
y[0:10]

0    0
1    1
2    1
3    0
4    0
5    0
6    1
7    0
8    0
9    1
Name: customer_response, dtype: int32

In [19]:
from sklearn import model_selection

x_train, x_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=0) #80/20 split
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(16, 2)
(16,)
(4, 2)
(4,)